@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/fontawesome.min.css');

body {
  font-family: Roboto, serif;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

